<div class="content-wrapper buffer-both text-center">

  <button type="button" class="btn btn-dark btn-lg butt"><a href="friends" style="text-decoration: none; color: inherit;">Запросы</a></button>
  <button type="button" class="btn btn-dark btn-lg butt"><a href="friend_show" style="text-decoration: none; color: inherit;">Друзья</a></button>

  <div class="buffer-both">
    <h1 class="title-medium">Запросы на дружбу</h1>
  </div>

<% if @friend_requests.any? %>
  <ul>
    <% @friend_requests.each do |friend_request| %>
      <li>
        <%= "Предложил: #{friend_request.requester.name}" %>
        <%= button_to 'Принять', accept_friendship_path(friend_request), method: :patch, remote: true, class: 'accept-friendship-link btn btn-success', data: { friendship_id: friend_request.id } %>
        <%= button_to 'Отклонить', reject_friendship_path(friend_request), method: :patch, remote: true, class: 'reject-friendship-link btn btn-danger', data: { friendship_id: friend_request.id } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Нету запросов на дружбу</p>
<% end %>

</div>