/* Пример стилей */
.messages {
    width: 100%;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #666666;
    color: #fff;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload img {
    cursor: pointer;
}

.file-upload img:hover {
}

.btn_chat {
    margin-top: 15px;
}