.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.chat-container {
    width: 1000px;
    max-height: 800vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Добавлено позиционирование для chat-container */
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#message_body {
    width: calc(100% - 80px);
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    width: 70px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #999999;
}

.fixed-message-form {
    position: fixed;
    bottom: 20px;
    right: 50%; /* Попробуйте изменить значение правого положения на 50% */
    transform: translateX(50%); /* Чтобы выровнять форму по центру */
    width: 300px;
    max-width: calc(100vw - 40px); /* Чтобы форма не выходила за пределы экрана */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.paper_clip {
    margin-left: 15px;
}